@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap');

/* Variables */
$message-min-width: 25%;
$message-max-width: 85%;

/* Reset */
html {
	font-family: 'JetBrains Mono', monospace;
}

body {
	margin: 0;
	padding: 0;
	background: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

/* Base styles */
* {
	font-size: 13px;
	box-sizing: border-box;
	font-family: inherit;
}

input, textarea, select, button {
	font-family: inherit;
	font-size: inherit;
}

.app {
	height: 100vh;
	display: flex;
	flex-direction: column;
	background: black;
	color: #efe5c0;
}

/* Forms */
.config-form {
	max-width: 28rem;
	margin: 5rem auto 0;
}

.config-title {
	font-size: 1.25rem;
	margin-bottom: 1rem;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.form-group {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.label {
	display: block;
	margin-bottom: 0.25rem;
}

.input {
	width: 100%;
	background: black;
	border: 1px solid #efe5c0;
	padding: 0.5rem;
	color: #efe5c0;
}

/* Chat Layout */
.chat {
	flex: 1;
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	border-bottom: 1px solid rgba(239, 229, 192, 0.3);
	height: 4.5rem;
}

.actions {
	display: flex;
	gap: 1rem;
}

.stats {
	font-size: 0.875rem;
	display: flex;
	gap: 1rem;
}

.messages {
	flex: 1;
	overflow-y: auto;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding-bottom: 8rem; /* Add padding to account for fixed bottom container */
}

.message {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	max-width: $message-max-width;
	min-width: $message-min-width;
	align-self: flex-start;
}

.message-user {
	align-self: flex-end;
}

.message-inner {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	padding: 0.7rem 0.9rem 0.75rem;
	border-radius: 0.4rem;
	background: rgba(239, 229, 192, 0.05);
	border: 1px solid rgba(239, 229, 192, 0.3);
	width: 100%;
}

.message-claude .message-inner {
	background: rgba(239, 229, 192, 0.1);
}

.message-user .message-inner {
	background: rgba(239, 229, 192, 0.05);
}

.message-author {
	font-size: 0.75rem;
	opacity: 0.75;
}

.message-content {
	white-space: pre-wrap;
}

.chat-bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: black;
	border-top: 1px solid rgba(239, 229, 192, 0.3);
}

.message-form {
	display: flex;
	gap: 0.5rem;
	padding: 1rem;
	background: black;
}

.message-input {
	flex: 1;
	background: black;
	border: 1px solid rgba(239, 229, 192, 0.5);
	border-radius: 0.25rem;
	padding: 0.5rem;
	color: #efe5c0;
}

.usage-info {
	font-size: 0.75rem;
	opacity: 0.75;
	padding: 0 1rem 1rem;
}

.usage-stats {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.usage-model {
	color: rgba(239, 229, 192, 0.5);
}

/* Modals */
.modal {
	display: none;
}

/* Buttons */
button {
	background: transparent;
	border: none;
	color: inherit;
	cursor: pointer;
	padding: 0;
}

.btn-text {
	color: #efe5c0;
	padding: 0.25rem 0.75rem;
	border: 1px solid rgba(239, 229, 192, 0.3);
	border-radius: 4px;
	transition: all 0.2s ease;

	&:hover {
		color: #e5dbb6;
		border-color: rgba(239, 229, 192, 0.5);
		background: rgba(239, 229, 192, 0.05);
	}
}

.btn-primary {
	color: #efe5c0;
	background: transparent;
	padding: 0.25rem 0.75rem;
	border: 1px solid #efe5c0;
	border-radius: 4px;
	transition: all 0.2s ease;

	&:hover {
		background: rgba(239, 229, 192, 0.1);
	}

	&:disabled {
		opacity: 0.7;
		cursor: not-allowed;
		border-color: rgba(239, 229, 192, 0.5);
		color: rgba(239, 229, 192, 0.7);
	}
}

.btn-danger {
	color: #efe5c0;
	background: transparent;
	padding: 0.25rem 0.75rem;
	border: 1px solid rgb(239, 68, 68);
	border-radius: 4px;
	transition: all 0.2s ease;

	&:hover {
		background: rgba(127, 29, 29, 0.2);
	}
}

.btn-sm {
	padding: 0.125rem 0.5rem;
	font-size: 0.875rem;
}

/* Browser resets */
:focus {
	outline: none !important;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
}

input, textarea {
	border-radius: 0.25rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

* {
	-webkit-tap-highlight-color: transparent;
}

::selection {
	background: rgba(239, 229, 192, 0.2);
	color: #efe5c0;
}

::-moz-selection {
	background: rgba(239, 229, 192, 0.2);
	color: #efe5c0;
}

/* Scrollbars */
* {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
	display: none;
}

.messages, .saved-chats {
	&::-webkit-scrollbar {
		width: 8px;
		opacity: 0;
		transition: opacity 0.3s;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: #efe5c0;
		opacity: 0;
		transition: opacity 0.3s;
	}

	&:hover::-webkit-scrollbar-thumb,
	&:focus::-webkit-scrollbar-thumb,
	&:focus-within::-webkit-scrollbar-thumb {
		opacity: 0.3;
	}

	&:hover::-webkit-scrollbar-thumb:hover {
		opacity: 0.5;
	}

	/* Firefox */
	scrollbar-width: thin;
	scrollbar-color: transparent transparent;
	transition: scrollbar-color 0.3s;

	&:hover,
	&:focus,
	&:focus-within {
		scrollbar-color: rgba(239, 229, 192, 0.3) transparent;
	}
}

/* Form elements */
::placeholder {
	color: rgba(239, 229, 192, 0.3);
	opacity: 1;
}

::-webkit-input-placeholder {
	color: rgba(239, 229, 192, 0.3);
	opacity: 1;
}

::-moz-placeholder {
	color: rgba(239, 229, 192, 0.3);
	opacity: 1;
}

:-ms-input-placeholder {
	color: rgba(239, 229, 192, 0.3);
	opacity: 1;
}

input:disabled,
textarea:disabled,
select:disabled,
button:disabled {
	color: rgba(239, 229, 192, 0.7);
	border-color: rgba(239, 229, 192, 0.5);
	cursor: not-allowed;
}

.btn-primary:disabled::before {
	opacity: 0.3;
} 